#Movie2Obj2Inner, #Movie2btn0Back
{ display: none !important; }
.tl-agent{
	width: 200px;
	height: 250px;
	top: 0;
	position: absolute;
	left: 0;
	margin-top: -68px;
	display:block;
}
.tr-agent{
	width: 200px;
	top: 0;
	height: 250px;
	position: absolute;
	right: 0;
	margin-top: -68px;
	display:block;
}
.bl-agent{
	width: 200px;
	height: 250px;
	bottom: 0;
	position: absolute;
	left: 0;
	display:none;
}
.br-agent{
	width: 200px;
	height: 250px;
	bottom: 0;
	position: absolute;
	right: 0;
	display:none;
}
.frame-loader{
	border: 0px solid #ccc;
	width: 80%;
	margin-left: 9%;
	position: absolute;
	top: 10px;
	bottom: 10px;
	height: 100%;
	display:none;
}

.TestSpeech{
	width: 100%;
	height: 250px;
	bottom: 0;
	position: absolute;
	left: 0;
	margin-bottom: 9%;
}
#Initialize{
	bottom: 300px;
	position: absolute;
	left: 40px;
}
#SubmitAnswer{
    display: none;
	bottom: 450px;
	position: absolute;
	left: 40px;
}
#inputText{ 
    bottom: 500px;
    width: 80%;
    text-align: left;
	position: absolute;
	left: 40px;
    display: none;
}



#outputJSON{
    width: 80%;
	left: 20px;
    text-align: left;
    background-color: lightblue;
    margin-top:400px;
    display: none;
}