#Movie2Obj2Inner, #Movie2btn0Back
{ display: none !important; }
.tl-agent{
	width: 200px;
	height: 250px;
	top: 0;
	position: absolute;
	left: 0;
	margin-top: -50px;
	display:block;
	padding: 35px;
	background: url("img/BKG1.png") no-repeat bottom center;
}
.tr-agent{
	width: 200px;
	top: 0;
	height: 250px;
	position: absolute;
	right: 0;
	margin-top: -50px;
	display:block;
	padding: 35px;
	background: url("img/BKG1.png") no-repeat bottom center;
}
.bl-agent{
	width: 200px;
	height: 250px;
	bottom: 0;
	position: absolute;
	left: 0;
	margin-bottom: 20px;
	display:block;
	padding: 35px;
	background: url("img/BKG1.png") no-repeat bottom center;
}
.br-agent{
	width: 200px;
	height: 250px;
	bottom: 0;
	position: absolute;
	right: 0;
	display:block;
	padding: 35px;
	margin-bottom: 20px;
	background: url("img/BKG1.png") no-repeat bottom center;
}
.frame-loader{
	border: 0px solid #ccc;
	width: 80%;
	margin-left: 9%;
	position: absolute;
	top: 10px;
	bottom: 10px;
	height: 100%;
	display:block;
}

.TestSpeech{
	width: 100%;
	height: 250px;
	bottom: 0;
	position: absolute;
	left: 0;
	margin-bottom: 9%;
}
#InputArea{ 
    left: 300px;
	right: 300px;
    bottom: 30px;
	height:100px;
	position: absolute;
	opacity:0.95;
	background:lightGreen; 
	border-radius: 10px 10px 10px 10px;
	overflow:hidden;
    display: none;
}

#Coversation{
	left: 200px;
	right: 200px;
    top: 450px;
	position: absolute;
	opacity:0.95;
	background:lightGrey; 
	border-radius: 10px 10px 10px 10px;
	overflow:hidden;
	padding:5px;
    display: none;
}


#MediaContainer{
    display: block;
	position:absolute;
	top:50%;
	left:50%;
	width:480px;  /* adjust as per your needs */
	height:640px;   /* adjust as per your needs */
	margin-left:-200px;   /* negative half of width above */
	margin-top:-200px;   /* negative half of height above */
}



#WorkingArea{
    display: block;
	position: absolute;
	top:50%;
	left:50%;
	background:lightGrey; 
	width:1024px;  /* adjust as per your needs */
	height:768px;   /* adjust as per your needs */
	margin-left:-512px;   /* negative half of width above */
	margin-top:-384px;   /* negative half of height above */
	background-image: url("https://xiangenhu.github.io/ATMedia/IMG/CAT/BKG1.jpg");
}

#outputJSON{
	left: 200px;
	right: 200px;
    bottom: 200px;
	position: absolute;
	opacity:0.95;
	background:lightGrey; 
	border-radius: 10px 10px 10px 10px;
	overflow:hidden;
	padding:5px;
    display: block;
}

#utilityBar{
	width:100%;
    bottom: 0px;
	height:20px;
	position: absolute;
	opacity:0.95;
	background:lightBlue; 
	overflow:hidden;
    display: block;
}